TMessagesProj/.externalNativeBuild/
.gradle/
.idea/
build/
.cxx/
obj/

output-metadata.json
local.properties
API_KEYS

*.hprof
*.jks
*.iml
*.apk
*.so
TMessagesProj/.cxx/
TMessagesProj/jniLibs/
TMessagesProj/jniRes/
**/.DS_Store
TMessagesProj/afat/

Tools/registration_dates.bin
